{parameters
    string $siteTitle = site()->title()->toString(),
    string $siteUrl = site()->url(),
}

{block header}
    {embed '@snippets/email/text/header', url: $siteUrl}
        {$siteTitle}
    {/embed}
{/block}

{block body}{/block}

{block subcopy}{/block}

{block footer}
    {embed '@snippets/email/text/footer'}
        &copy; {date('Y')} {$siteTitle}. {_'email.allRightsReserved', fallback: 'All rights reserved.'}
    {/embed}
{/block}
